.main {
    margin-left: 300px; 
    font-size: 18px; 
    padding: 0px 10px;
  }
  
  /* @media screen and (max-height: 450px) {
    .main {margin-left: 500px;}
    .sidenav-trigger {padding-top: 15px;}
    .sidenav sidenav-fixed {font-size: 18px;}
  } */
  
  body{
    margin: auto;
    background-image: url("./assets/images/city-2403422_1280.png");
    background-size: 75%;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center;
  }
  
  
  #sideNav {
      background: linear-gradient(to left, #212121 , transparent);;
      text-align: center;
      padding-top: 25px;
    }
  
  h1 {
    text-align: center;
    font-size: 40px;
  }
  
  h2{
    text-align: center;
  }
  
  h3 {
      font-size: 38px;
    }
  
  h4 {
      font-size: 28px;
    }
  
  .btn-large {
    background-color: gold;
    color: black;
  }
  
  /* #card {
    text-align: center;
  } */